<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='index/custom.css')}}">
    <title>Simple Flask App to import NYC Taxi data</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
      $(document).ready(function(){
        var output = document.getElementById('output');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('log_stream') }}', true);
        xhr.send();
        setInterval(function() {
          output.textContent = xhr.responseText;
        }, 50);
      });
    </script>
  </head>
  <body>
    <h1>Simple Flask App to import NYC Taxi data</h1>
    <h2>Enter Inputs</h2>
    <form method="POST" action="/">
      <script type="text/javascript">
        function dropdown_set (i,min=2013,max=2023) {
          document.getElementById(i).innerHTML = null
          let dateDropdown = document.getElementById(i)
          let currentYear = new Date().getFullYear();
          let earliestYear = min;
          let latemostYear = max;
      
          while (currentYear >= earliestYear & currentYear <= latemostYear) {
            let dateOption = document.createElement('option');
            dateOption.text = currentYear;
            dateOption.value = currentYear;
            dateDropdown.add(dateOption);
            currentYear -= 1;
          }
        }
      </script>
      <label for="input_1">Start Year:</label>
      <select id="input_1" name="input_1" onchange="dropdown_set('input_2',min=this.value);" required></select><br><br>
      <label for="input_2">End Year:</label>
      <select id="input_2" name="input_2" required></select><br>
      <script>
        dropdown_set('input_1')
        dropdown_set('input_2')
      </script>
      <p>Delete Indexes from table?:</p>
      <input type="radio" id="input_3_1" name="input" value="Yes">
      <label for="input_3_1">Yes</label><br>
      <input type="radio" id="input_3_2" name="input" value="No" checked>
      <label for="input_3_2">No</label><br>
      <p>Replace data from table?:</p>
      <input type="radio" id="input_4_1" name="input_4" value="Replace">
      <label for="input_4_1">Yes</label><br>
      <input type="radio" id="input_4_2" name="input_4" value="Skip" checked>
      <label for="input_4_2">No</label><br>
      <br>
      <input type="submit" value="Run ETL"><br>
    </form>
    <h4>Sample of 1000 rows from  all the trips over 0.9 percentile in the distance traveled:</h4>
    <p style="color:red;"> Database not found... Run ETL first</p>
    <form action="/table" target="_blank">
      <input type="submit" value="Show Dataframe"/>
    </form>
    <body id="main">
      <div class="row">
        <h3>Logging:</h3>
        <div class="logging_window">
          <pre id="output"></pre>
        </div>
      </div>
    </body>
  </body>
</html>